*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, rgba(27,186,213,1) 0%, rgba(2,205,247,1) 0%, rgba(17,17,224,0.6244604316546762) 48%, rgba(42,175,194,1) 100%);
}
::-webkit-scrollbar-track{
  background: linear-gradient(90deg, rgba(74,117,126,1) 100%, rgba(96,96,170,0.6244604316546762) 100%, rgba(42,175,194,1) 100%);
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(90deg, rgba(170,108,96,1) 0%, rgba(54,53,53,1) 0%, rgba(96,96,170,0.6244604316546762) 0%, rgba(0,212,255,1) 0%, rgba(42,175,194,1) 100%);
}
a{
  text-decoration: none;
}
.textarea{
  background-color: rgb(176, 248, 248);
}
button{
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  color: cadetblue;
  background-color: rgb(247, 206, 191);
}
button:hover{
  background-color: rgb(213, 207, 186);
  color: olive;
}
span{
  font-weight: 700;
  font-size: 18px;
}
@media (max-width:600px) {
  button{
    font-size: 13px;
  }
}